{% trans_default_domain 'adminInterface' %}

{% if form.imageFile is defined %}
    {{ form_widget(form.imageFile) }}

    <br/>

    <div class="row">
        <div class="col-sm-10">
            {{ form_widget(form.imageAltText, {
                'attr': {
                    'class': 'countable',
                    'maxlength': '255',
                    'data-counter-container': '#alt-text-counter-' ~ locale
                }
            }) }}
        </div>
        <div class="col-sm-2">
            <span class="badge"><span id="alt-text-counter-{{ locale }}"></span> / 255</span>
        </div>
    </div>
{% endif %}
