{% extends '@NfqCmsPage/base.html.twig' %}

{% block cms_content %}
    <div class="cms-page-container">
        <h1 class="cms-page-title">{{ entity.title }}</h1>
        <div class="cms-page-text">
            {{ entity.text|raw }}
        </div>
    </div>
{% endblock %}
